.spanTitleCSS{
  font-size: : 200px;
  text-align: left;
  font-weight: bold;

}

 header{
  text-align: center;
  font-size: 90px;
  font-weight: bold;
  font-family: sans-serif;
}

form{
  margin: auto;
  max-width: 150px;
}
